.container {
  padding: 3%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.collapseButton {
  background-color: transparent;
  border: none;
  color: var(--color-primary) !important;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

.collapseButton:hover{
  background-color: transparent !important;
  box-shadow: none;
}

.cardContainer {
  cursor: pointer;
}

.cardTitle {
  color: white;
  text-align: left;
  font-size: 14px;
}

h2 {
  color: white;
}

.faqContainer {
  margin: 0% 10%;
}

.faqAccordion {
    border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.faqAccordionSummary {
  background-color: var(--color-black);
  color: white;
}

.faqAccordionDetails {
  background-color: white;
  color: var(--color-black);
  text-align: left;
}
