.hero {
  background-color: var(--color-black);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 45px;
  color: white;
}

.hero * {
  font-family: "Poppins" !important ;
  font-weight: 600 !important;
}
