.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 40px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 10px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  height: 100%;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-weight: 400;
  font-size: 16px !important;
}

.albumArtists {
  font-weight: 400;
  font-size: 12px !important;
}
